<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="appointmentForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah/Edit Jadwal Praktek</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" maxlength="111" class="form-control" id="title" />

                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        @*ambil dari appointmentconroller Index*@
                        <label for="title">Pilih Pasien</label>
                        <select id="patientId" asp-items="@(new SelectList(ViewBag.PatientList,"Id","Name"))" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <label for="appointmentDate">Waktu Mulai</label>
                        <input class="form-control" id="appointmentDate" />
                    </div>
                    <div class="form-group">
                        @*ambil dari appointmentconroller Index*@
                        <label for="title">Durasi</label>
                        <select id="duration" asp-items="ViewBag.Duration" class="form-control"></select>
                    </div>
                    <input type="hidden" id="id" />
                </div>
                <div class="modal-footer">
                    @*function di script-custom-js*@
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Tutup</button> &nbsp;
                    <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Submit</button>
                </div>
            </form>
        </div>        
    </div>

</div>