<div class="modal fade" role="dialog" id="appointmentInput" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="appointmentForm" autocomplete="off" novalidate="novalidate">
                <div class="modal-header">
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
                    {
                        <h4 class="modal-title">Tambah/Edit Jadwal Praktek</h4>
                    }
                    else
                    {
                        <h4 class="modal-title">Detail Jadwal Praktek</h4>
                    }


                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" maxlength="100" class="form-control" id="title" />

                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" class="form-control" id="description"></textarea>
                    </div>
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
                    {
                        <div class="form-group">
                            @*ambil dari appointmentconroller Index*@
                            <label for="title">Pilih Pasien</label>
                            <select id="patientId" asp-items="@(new SelectList(ViewBag.PatientList, "Id", "Name"))" class="form-control"></select>
                        </div>
                    }
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Doctor))
                    {
                        <div class="form-group">
                            <label for="lblPatientName">Nama Pasien</label>
                            <label class="form-control"  disabled id="lblPatientName"></label>
                        </div>
                        <div class="form-group">
                            <label for="lblStatus">Status</label>
                            <label  id="lblStatus" disabled class="form-control"></label>
                        </div>

                    }
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Patient))
                    {<div class="form-group">
                            <label for="lblDoctorName">Nama Dokter</label>
                            <label class="form-control" disabled id="lblDoctorName"></label>
                        </div>
                        <div class="form-group">
                            <label for="lblStatus">Status</label>
                            <label  id="lblStatus" disabled class="form-control"></label>
                        </div>
                    }


                    <div class="form-group">
                        <label for="appointmentDate">Waktu Mulai</label>
                        <input class="form-control" id="appointmentDate" />
                    </div>
                    <div class="form-group">
                        @*ambil dari appointmentconroller Index*@
                        <label for="title">Durasi</label>
                        <select id="duration" asp-items="ViewBag.Duration" class="form-control"></select>
                    </div>
                    <input type="hidden" id="id" />
                </div>
                <div class="modal-footer">
                    @*function di script-custom-js*@
                    <button type="button" class="btn btn-secondary" onclick="onCloseModal();">Tutup</button> &nbsp;

                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Admin))
                    {
                        <button type="button" id="btnSubmit" class="btn btn-success" onclick="onSubmitForm();">Submit</button>
                        <button type="button" id="btnDelete" class="btn btn-danger " onclick="onDeleteAppointment();">Hapus</button>

                    }
                    @if (User.IsInRole(AppointmentScheduling.Utility.Helper.Doctor))
                    {
                        <button type="button" id="btnConfirm" class="btn btn-success" onclick="onConfirm();">Konfirmasi</button>
                        <button type="button" id="btnDelete" class="btn btn-danger " onclick="onDeleteAppointment();">Hapus</button>

                    }



                </div>
            </form>
        </div>        
    </div>

</div>